#Spielfeld {
    float: left;
}

.datenAnzeige {
    padding-top: 15px;
    background-image: url(assets/rechts.png);
    color: white;
    float: left;
    font-style: italic;
    width: 200px;
    height: 585px;
    text-align: center;

}
